//colors
$color_tundora_approx: #444;
$color_blue_ribbon_approx: #003bec;
$color_san_juan_10_approx: rgba(41, 75, 105, 0.1);
$white: #fff;
$color_san_juan_approx: #294b69;
$color_danube_approx: #6f9dc7;
$color_quill_gray_approx: #d2d2d2;
$color_alabaster_approx: #fcfcfc;
$black: #000;
$color_red_violet_approx: #d3007d;
$color_mountain_mist_approx: #979797;
$color_gallery_approx: #eee;
$color_celeste_approx: #ccc;

* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, serif;
	line-height: 2;
	color: $color_tundora_approx;
	margin: 0;
	padding: 0;
}

.box {
	position: relative;
	box-sizing: border-box;
	min-height: 2.25rem;
	margin-bottom: 0;
	background: $color_san_juan_10_approx;
	overflow: hidden;
	text-align: center;
	color: $color_san_juan_approx;
	border-radius: 2px;
	border: 1px solid $color_danube_approx;
	padding: 1em;
}

.box-first {
	position: relative;
	box-sizing: border-box;
	min-height: 2.25rem;
	margin-bottom: 0;
	background: $color_san_juan_10_approx;
	overflow: hidden;
	text-align: center;
	color: $color_san_juan_approx;
	border-radius: 2px;
	border: 1px solid $color_danube_approx;
	padding: 1rem;
}
.box-large {
	position: relative;
	box-sizing: border-box;
	min-height: 2.25rem;
	margin-bottom: 0;
	background: $color_san_juan_10_approx;
	overflow: hidden;
	text-align: center;
	color: $color_san_juan_approx;
	border-radius: 2px;
	border: 1px solid $color_danube_approx;
	padding: 1rem;
	height: 8rem;
}
.box-nested {
	position: relative;
	box-sizing: border-box;
	min-height: 2.25rem;
	margin-bottom: 0;
	background: $color_san_juan_10_approx;
	overflow: hidden;
	text-align: center;
	color: $color_san_juan_approx;
	border-radius: 2px;
	border: 1px solid $color_danube_approx;
	padding: 1rem;
}
.box-row {
	position: relative;
	box-sizing: border-box;
	min-height: 2.25rem;
	margin-bottom: 0;
	background: $color_san_juan_10_approx;
	overflow: hidden;
	text-align: center;
	color: $color_san_juan_approx;
	border-radius: 2px;
	border: 1px solid $color_danube_approx;
	padding: 1rem;
	margin-bottom: 1em;
}
pre {
	margin: 30px 0 50px;
	&.prettyprint {
		overflow-x: auto;
		padding: 1.25em;
		border: 1px solid $color_quill_gray_approx;
		border-left-width: 5px;
		margin: 1.6em 0;
		font-size: 1em;
		background: $color_alabaster_approx;
		white-space: pre;
		word-wrap: normal;
	}
}

.main-title {
	font-size: 55px;
	line-height: 1.2em;
}

h2 {
	font-size: 31px;
	color: $black;
	margin: 0 0 30px;
}
h3 {
	font-size: 26px;
	color: $black;
	margin: 40px 0 15px;
}
h4 {
	font-size: 22px;
	color: $black;
	margin: 35px 0 15px;
}
h5 {
	font-size: 22px;
	color: $black;
	margin: 35px 0 15px;
}
p {
	margin-bottom: 15px;
}
h1 {
	font-size: 40px;
}
.button {
	display: inline-block;
	border-radius: 0;
	text-align: center;
	text-transform: none;
	font-weight: 400;
	padding: 1em;
	text-decoration: none;
	border-color: $black;
	transition: background-color 0.3s, border-color 0.3s;
	letter-spacing: 0;

	&.primary {
		background-color: $black;
		color: $white;
		border: 0;
		&:hover {
			background-color: $color_blue_ribbon_approx;
		}
	}
	&.secondary {
		border: 3px solid $black;
		color: $black;
		font-size: 15px;
		&:hover {
			border-color: $color_blue_ribbon_approx;
		}
	}
}
ul {
	list-style: initial;
	margin-left: 20px;
}
a {
	color: $color_blue_ribbon_approx;
	&:hover {
		color: $color_red_violet_approx;
	}
}

.action {
	margin-top: 45px;
}
header {
	padding-bottom: 80px;
	background-color: $color_blue_ribbon_approx;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	color: $white;
	margin-bottom: 70px;
	overflow: hidden;
	position: static;
	top: -82px;
	z-index: 10;
	transform: translate3d(0, 0, 0);
	transition: top 0.3s cubic-bezier(0.84, 0.3, 0.33, 0.9);

	.button {
		display: block;
	}

	&.home {
		margin-bottom: 0;
	}

	p {
		padding: 0 30px;
		font-size: 17px;
	}

	&.bg {
		background-position: bottom center;
		transition: opacity 0.5s cubic-bezier(0.71, 0.23, 0.33, 0.99);
	}
}

main {
	padding-top: 80px;
}

.col-xs-1 {
	.box-row {
		padding: 0;
	}
}